<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/faviconalta.png">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />
    <title><%=title%></title>
</head>
<body> 

    <div class="one">
    <!-- <div class="navbar bg-light">
        <div class="nav-left">
            <img src="assets/logo-ALTA.png" alt="">
        </div>
            <ul class="navbar-list">
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">EXPIRIENCE</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
    </div>   -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-light" style="padding: 0 10%;">
        <a href="#" class="navbar-dark"><img src="img/logo-ALTA.png" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="color: #f47523;" href="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">EXPIRIENCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Contact_Us">CONTACT</a>
            </li>
            </ul>
        </div>
    </nav>
    
    <div class="content">
        <div class="content-left">
                    <img src="img/matthew-hamilton-tNCH0sKSZbA-unsplash.jpg" alt="">
        </div>

        <div class="content-right">
            <h3>Hi, My Name Is </h3>
            <p>Anne Sullivan</p>
            <h2>I built Things For The Web</h2>
            <button type="button" class="btn mt-4" style="background-color:#f47523"><a href="#" style="text-decoration: none;color: white;">Get In Touch</a></button>
        </div>
        </div>
    </div>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>